name: Update WakaTime Stats SVG

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate-stats:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Create output folder
        run: mkdir -p wakatime

      # Stats
      - name: Generate Stats SVG
        env:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
        run: |
          curl -s "https://wakatime-readme-stats.vercel.app/api/wakatimeStats?username=tomipr&api_key=$WAKATIME_API_KEY&themes=graphite_rose&components=2&bg_color=2a2a2e&title_color=ff8fc8&text_color=ffffff&border_color=f5f5f5&component1_type=all_langs&component1_chart_color=ff5bab" \
            -o wakatime/stats.svg

      # Activity (Heatmap)
      - name: Generate Activity SVG
        env:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
        run: |
          curl -s "https://wakatime-readme-stats.vercel.app/api/wakatimeStats?username=tomipr&api_key=$WAKATIME_API_KEY&themes=graphite_rose&components=2&bg_color=2a2a2e&title_color=ff8fc8&text_color=ffffff&border_color=f5f5f5&component1_type=heatmap&component1_heatmap_color=ffb7d5" \
            -o wakatime/activity.svg

      # Daily avg (Radar)
      - name: Generate Daily Average SVG
        env:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
        run: |
          curl -s "https://wakatime-readme-stats.vercel.app/api/wakatimeStats?username=tomipr&api_key=$WAKATIME_API_KEY&themes=graphite_rose&components=2&bg_color=2a2a2e&title_color=ff8fc8&text_color=ffffff&border_color=f5f5f5&component1_type=weekly_avg&component1_chart_type=radar&component1_chart_color=ff8fc8" \
            -o wakatime/daily.svg

      - name: Commit SVG to repo
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add wakatime/*.svg
          git commit -m "Update WakaTime stats SVG" || echo "No changes"
          git push
