name: Update WakaTime Stats SVG

on:
  schedule:
    - cron: "0 */6 * * *" # every 6 hours
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate-stats:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Create output folder
        run: mkdir -p wakatime

      - name: Generate Stats SVG
        env:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
        run: |
          curl -s "https://wakatime-readme-stats.vercel.app/api/wakatimeStats?username=tomipr&api_key=$WAKATIME_API_KEY&themes=graphite_rose&title_prefix=Tomi%27s&components=2&bg_color=2a2a2e&title_color=ff8fc8&text_color=ffffff&border_color=f5f5f5&component1_type=all_langs&component1_chart_color=ff5bab&component2_type=heatmap&component2_heatmap_color=ffb7d5" \
            -o wakatime/stats.svg

      - name: Commit SVG to repo
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add wakatime/stats.svg
          git commit -m "Update WakaTime stats SVG" || echo "No changes"
          git push
